/* Geral */

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
  }
  
  /* Barra de navegação */
  
  #navbar {
    margin-top: 20px;
  }
  
  .nav-list {
    padding: 0 25px;
  }
  
  .nav-list li {
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
  }
  
  .nav-list li a {
    color: #5F6368;
    text-decoration: none;
  }
  
  .nav-list li a:hover {
    text-decoration: underline;
  }
  
  #social-bar {
    text-align: right;
  }
  
  /* Corpo do site */
  
  #body {
    text-align: center;
  }
  
  #google-logo {
    padding-top: 7%;
    margin-bottom: 25px;
  }
  
  #input-box {
    width: 43vw; /* view width */
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  #search-input {
    height: 48px;
    border-radius: 24px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0 50px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px #DDD;
  }
  
  #search-icon, #keyboard-icon, #mic-icon {
    position: absolute;
    top: 15px;
    font-size: 18px;
  }
  
  #search-icon {
    left: 20px;
  }
  
  #keyboard-icon {
    right: 55px;
  }
  
  #mic-icon {
    right: 20px;
  }
  
  #body input[type="submit"] {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #5F6368;
    height: 34px;
    padding: 0 16px;
    font-size: 14px;
    margin: 15px 5px;
    cursor: pointer;
  }
  
  #body input[type="submit"]:hover {
    color: #333;
    border-color: #333;
  }
  
  /* Footer - rodapé */
  
  footer {
    position: absolute;
    display: block;
    box-sizing: border-box;
    bottom: 0;
    height: 42px;
    width: 100%;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
  }
  
  #left-bar, #right-bar {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 0;
  }
  
  #right-bar {
    position: absolute;
    right: 0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    label {
    position: relative;
    width: 480px;
    height: 180px;
    display: block;
    background: url('images/images1.gif');
    background-size: cover;
    background-position: center;
    border: 10px solid rgba(198, 247, 253, 0.3);
    border-radius: 100px;
    cursor: pointer;
    transition: 1s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }
    label::after {
    content: '';
    position: absolute;
    height: 110px;
    width: 110px;
    background: #f2f2f2;
    border-radius: 50%;
    top: 25px;
    left: 30px;
    transition: 0.8s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    label::before {
    content: '';
    position: absolute;
    height: 110px;
    width: 110px;
    border: 10px solid rgba(198, 247, 253, 0.3);
    border-radius: 50%;
    top: 15px;
    left: 20px;
    transition: 0.8s ease;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.18);
    }
  
    .background {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #9ad6f7;
      z-index: -1;
      transition: all 1s ease;
      }
      
      input:checked ~ label::after {
      left: 430px;
      transform: translateX(-100%);
      background: #777ba5;
      }
      input:checked ~ label::before {
      left: 440px;
      border: 10px solid rgba(90, 79, 136, 0.2);
      transform: translateX(-100%);
      }
      input:checked ~ label {
      background: url('images/images2.gif');
      background-size: cover;
      background-position: center;
      border: 10px solid rgba(90, 79, 136, 0.2);
      }
      input:checked ~ .background {
      background: #0e377c;
      }
      input {
      display: none;
      }

      .button {
        width:max-content;
        background-color: black;
        color: white;
        border: 2px solid blue;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }
      
      .button:hover {
        background-color: blue;
        border-color: white;
      }