@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
    --gradiente: linear-gradient(to left, blue, rgb(110, 110, 248));
    --amarelo: blue;
    --branco: #fff;
    --preto: #171717;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--amarelo);
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--preto);
    width: 360px;
    height: 400px;
    border-radius: 6px;
    padding: 20px 30px;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.2), -4px -4px 7px 3px rgba(0, 0, 0, 0.15);
}

form h2{
    color: var(--amarelo);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

input {
    height: 30px;
    margin: 20px 0;
    font-size: 16px;
}

.input-field {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.input-field i {
    width: 10%;
    font-size: 1.6rem;
    color: var(--amarelo);
}

input[type='text'], input[type='password'] {
    width: 90%;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    color: var(--amarelo);
}

span {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 0;
    height: 1px;
    margin-top: 10px;
    background: var(--gradiente);
}

input[type='text']:focus ~ span, input[type='password']:focus ~ span {
    display: inline-block;
    width: 100%;
}

.button {
    width:max-content;
    background-color: black;
    color: white;
    border: 2px solid blue;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: blue;
    border-color: white;
  }